<header>
	<div class="row">
		<h1>Expresso</h1>
		<br>
	</div>
	<div class="row">
		<nav>
			<div class="col-md-3">
				<a id="home">home</a>
			</div>
			<div class="col-md-3">	
				<a id="newPost" href="">new brew</a>
			</div>
			<div class="col-md-3">
				<a id="myBrew" href="">my brews</a>
			</div>
			<div class="col-md-3">
				<a id="search" href="">find brew</a>
			</div>
		</nav>
	</div>
	
</header>

<div id="homeDiv">
	<h3 class="greeting"></h3>
</div>

<script type="text/javascript">
	
</script>
