		<div class="row">
			<header>
				<div class="col-md-6 col-md-offset-3" id="welcome">					
					<br>
					<h1>Welcome to Expresso</h1>
					<br>
					<br>
				</div>
			</header>
			<main>
				<div id="welcome-box" class="col-md-6 col-md-offset-3">
					<div class="row">
						<div id="sign-up_or_login">
							<h3>Please  <button class="btn" id="sign_up">Sign Up</button> or <button class="btn" id="login">Login</button></h3>	
						</div>
					</div>
				</div>


			</main>
		</div>