
<header>
	<div class="row">
		<div class='col-md-2'>
			<h1>expresso.</h1>
		</div>
		<div class='col-md-2 col-md-offset-8 greeting'>
			<h5 class="greeting">hello <%= @user.name %>.</h5>
			<img src="<%= @user.avatar.url(:thumb) %>">
		</div>	
		<br>
	</div>
	<div class="row">
		<nav>
			<div class="col-md-2 col-md-offset-2">
				<a id="home">home</a>
			</div>
			<div class="col-md-2">	
				<a id="newPost" href="">new brew review</a>
			</div>
			<div class="col-md-2">
				<a id="myBrew" href="">my brew reviews</a>
			</div>
			<div class="col-md-2">
				<a id="search" href="">find a brew</a>
			</div>
			<div class="col-md-2">
				<a id="logout" href="">logout</a>
			</div>			
		</nav>
	</div>
	
</header>

<div id="homeDiv" style="display:block">
		<div class='row'> 
			<div id="feed" class="col-md-10 col-md-offset-1" style="display:block">
				<table class='table table-responsive table-hover'>
				</table>
			</div>
		</div>		
</div>
	
<div id="newPostDiv" style="display:none">
	<div class="row">
		<div id="cafeSearchDiv" class="col-md-offset-4">
			<h5>where'd you get your brew?</h5>
	    <input id="pac-input" type="text" class="controls" placeholder="search for cafes">
	    <button id="there" class="btn btn-default col-md-offset-3">there.</button>
	    <br>
    </div>
    <div class="postForm" style="display:none">
			<%= render 'form' %>
		</div>	
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close.</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close.</button>
      </div>
    </div>
  </div>
</div>

<script>

	$.get("/posts", function(data){
		if (data == []) {
		console.log(data)
		} else {
			data = _.sortBy(data, function(post){ return post.id * -1})
		_.each(data, function(post){
			$("table").append("<tr><td class='likeCheck " + post.id + "'><img class='like' src='http://i.imgur.com/vZN0HCL.png?1' /><td><td id='" + post.id + "'><img src='"+ post.avatar + "'/><strong>  "+ post.title + "</strong> " + post.username + " rates the " + post.brewing_method + " " + post.beverage + " at " + post.coffee_bar + " <button class='modalLauncher btn btn-default btn-xs' data-toggle='modal' data-target='#myModal'>details</button></td></tr>")
			
			
			likeCheck(post.id)
		})}
	})

	function likeCheck(postID){
		$.get("/likes/" + postID, function(data){
			likeTotal = data.length
			$("td." + postID).append("<strong class='" + postID + "'> " + likeTotal + "</strong>");
			modalLauncher(likeTotal)
	})
	}

 function modalLauncher(likeTotal){
 	$("button.modalLauncher").click(function(){
 		console.log(likeTotal)
 		$.get("/posts/" + $(this).parent('td').attr("id"), function(post){
 			$("div.modal-header").empty()
 			$("div.modal-header").append("<div id='modalTitle' class='col-md-4'><h4>" + post.title + "</h4></div><div class='col-md-offset-9'><button class='btn btn-default' id='likeButton'><img class='bigLike' src='http://i.imgur.com/vZN0HCL.png?1' /></button><div id='modalLikes'> " + likeTotal + "</div></div>")
			$("div.modal-body").empty()
			$("div.modal-body").append("<div id='modalDetails' class='col-md-offset-2'><h5>reviewed by <a>" + post.username + "</a> on " + post.created_at + "</h5><img src='" + post.avatar + "' /><br><p>how: " + post.brewing_method + "<br>what: " + post.beverage + "<br>from: <a id='" + post.coffee_bar_id + "'>" + post.coffee_bar + "</a><br>was: a <strong>" + post.coffee_rating + "</strong> on the delicious scale.<br>so: " + post.description + "</p><div id='covetStatus'></div></div>")
			// 

			checkForCovet(post.id)
			addLike(post.id) 

 		})
	})}

 	function addLike(postID){
 		$("button#likeButton").click(function(){
 			$.post("/likes", {post_id: postID}).done(function(currentTotal){
 				console.log(currentTotal)
 				$("div#modalLikes").text(currentTotal)
 				$("strong." + postID).text(currentTotal)
 			})
 		})
 	}

	function checkForCovet(postID){
		$.get("/posts/" + postID +"/coveted_coffees", function(data){
			console.log(data)
			if (data.length > 0 ){
				$('div#covetStatus').empty()
				$("div#covetStatus").append("<div class='col-md-offset-3'><p>coveted.</p></div>")
			} else {
				$('div#covetStatus').empty()
				$('div#covetStatus').append("<button class='btn btn-default btn-md' id='covet'>covet this coffee.</button>")
				$("button#covet").click(function(){
				createCovet(postID)
				})
			}
		})		
	}

 	function createCovet(postID) {
 		$.post("/coveted_coffees", {post_id: postID}).done(function(){
 			$('button#covet').remove()
 			$("div.modal-body").append("<div class='col-md-offset-3'><p>coveted.</p></div>")
 		})
 	}

	function initialize() {
		var input = document.getElementById('pac-input');
		$.get("/posts/location", function(data){
      var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(data["swlat"], data["swlng"]),
          new google.maps.LatLng(data["nelat"], data["nelng"]));
			var options = {bounds: defaultBounds, types: ['establishment']};
					
		new google.maps.places.Autocomplete(input, options);
		})
	}
				
	google.maps.event.addDomListener(window, 'load', initialize);
		// getLocation();


	$("a#home").click(function(event){
		event.preventDefault()
		$("div#feed").toggle("fast")
		$("div#newPostDiv").toggle()
	})

	$("a#newPost").click(function(event){
		event.preventDefault()
		$("div#feed").toggle("fast")
		$("div#newPostDiv").toggle()
	})
	$("a#logout").click(function(event){
		event.preventDefault()
		console.log(event)
		$.ajax({url: "/session", type: "DELETE"})
	})

	$("button#there").click(function(){
      var name_and_address = $("input#pac-input").val()
    $.post("/coffee_bars", {name_and_address: name_and_address}
      ).done(function(data){
        console.log(data.id)
        $("input#post_coffee_bar_id").val(data.id)
      })
      $("div.postForm").toggle()
      $("div#cafeSearchDiv").toggle("slow")
    })
</script>
