
<header>
	<div class="row">
		<h1>Expresso</h1>
		<br>
	</div>
	<div class="row">
		<nav>
			<div class="col-md-2 col-md-offset-2">
				<a id="home">home</a>
			</div>
			<div class="col-md-2">	
				<a id="newPost" href="">new brew review</a>
			</div>
			<div class="col-md-2">
				<a id="myBrew" href="">my brew reviews</a>
			</div>
			<div class="col-md-2">
				<a id="search" href="">find a brew</a>
			</div>
			<div class="col-md-2">
				<a id="logout" href="">logout</a>
			</div>			
		</nav>
	</div>
	
</header>

<div id="homeDiv" style="display:block">
	<div class='row'>
		<h3 class="greeting">hello <%= @user.name %></h3>
		<img src="<%= @user.avatar.url(:thumb) %>">
		<div> 
			<div id="feed" class="col-md-8 col-md-offset-2">
				<ul>
				</ul>
			</div>
		</div>		
	</div>
</div>
	
<div id="newPostDiv" style="display:none">
	<div class="row">
		<div id="cafeSearchDiv" class="col-md-offset-4">
			<h5>where'd you get your brew?</h5>
	    <input id="pac-input" type="text" class="controls" placeholder="search for cafes">
	    <button id="there" class="btn btn-default col-md-offset-3">there.</button>
	    <br>
    </div>
    <div class="postForm" style="display:none">
			<%= render 'form' %>
		</div>	
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close.</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close.</button>
      </div>
    </div>
  </div>
</div>

<script>

	$.get("/posts", function(data){
		if (data == []) {
		console.log(data)
		} else {
		_.each(data, function(post){
			$("ul").append("<li id='" + post.id + "'><strong>"+ post.title + "</strong> " + post.username + " rates the " + post.brewing_method + " " + post.beverage + " at " + post.coffee_bar + " <button class='modalLauncher btn btn-default btn-xs' data-toggle='modal' data-target='#myModal'>details</button></li>")
			
			modalLauncher()
		
			// avatar: "https://coffeecovet.s3.amazonaws.com/posts/avatars/7/original/cappuccino.jpg?1415640410"beverage: "antoccino"brewing_method: "aeropress"coffee_bar: "Blue Bottle Coffee"coffee_rating: 5description: "Would recommend."roaster: "Blue Bottle"title: "Best coffee evar!!!!"username: "trishfromtisch"
		})}
	})

 function modalLauncher(){
 	$("button.modalLauncher").click(function(){
 		$.get("/posts/" + $(this).parent('li').attr("id"), function(post){
 			console.log(post)
 			$("h4#myModalLabel").text("")
			$("h4#myModalLabel").text(post.title)
			$("div.modal-body").empty()
			$("div.modal-body").append("<div id='modalDetails' class='col-md-offset-2'><h5>reviewed by <a>" + post.username + "</a></h5><img src='" + post.avatar + "' /><br><p>" + post.brewing_method + " " + post.beverage + " from <a id='" + post.coffee_bar_id + "'>" + post.coffee_bar + "</a></p><h5>" + post.coffee_rating + "</h5><p>" + post.description + "</p><div id='covetStatus'></div></div>")

			checkForCovet(post.id)

 		})
	})}

	function checkForCovet(postID){
		$.get("/posts/" + postID +"/coveted_coffees", function(data){
			if (data == []) {
				$('div#covetStatus').empty()
				$('div#covetStatus').append("<button class='btn btn-default btn-md' id='covet'>covet this coffee.</button>")
				$("button#covet").click(function(){
				createCovet(postID)
				})
			}	else {
				$('div#covetStatus').empty()
				$("div#covetStatus").append("<div class='col-md-offset-3'><p>coveted.</p></div>")
			}
		})		
	}

 	function createCovet(postID) {
 		$.post("/coveted_coffees", {post_id: postID}).done(function(){
 			$('button#covet').remove()
 			$("div.modal-body").append("<div class='col-md-offset-3'><p>coveted.</p></div>")
 		})
 	}

	function initialize() {
		var input = document.getElementById('pac-input');
		$.get("/posts/location", function(data){
      var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(data["swlat"], data["swlng"]),
          new google.maps.LatLng(data["nelat"], data["nelng"]));
			var options = {bounds: defaultBounds, types: ['establishment']};
					
		new google.maps.places.Autocomplete(input, options);
		})
	}
				
	google.maps.event.addDomListener(window, 'load', initialize);
		// getLocation();



	$("a#newPost").click(function(event){
		event.preventDefault()
		$("div#newPostDiv").toggle()
	})
	$("a#logout").click(function(event){
		event.preventDefault()
		console.log(event)
		$.ajax({url: "/session", type: "DELETE"})
	})

	$("button#there").click(function(){
      var name_and_address = $("input#pac-input").val()
    $.post("/coffee_bars", {name_and_address: name_and_address}
      ).done(function(data){
        console.log(data.id)
        $("input#post_coffee_bar_id").val(data.id)
      })
      $("div.postForm").toggle()
      $("div#cafeSearchDiv").toggle("slow")
    })
</script>
