
<header>
	<div class="row">
		<h1>Expresso</h1>
		<br>
	</div>
	<div class="row">
		<nav>
			<div class="col-md-2 col-md-offset-2">
				<a id="home">home</a>
			</div>
			<div class="col-md-2">	
				<a id="newPost" href="">new brew</a>
			</div>
			<div class="col-md-2">
				<a id="myBrew" href="">my brews</a>
			</div>
			<div class="col-md-2">
				<a id="search" href="">find brew</a>
			</div>
			<div class="col-md-2">
				<a id="logout" href="">logout</a>
			</div>			
		</nav>
	</div>
	
</header>

<div id="homeDiv" style="display:block">
	<div class='row'>
		<h3 class="greeting">hello <%= @user.name %></h3>
		<img src="<%= @user.avatar.url(:thumb) %>"> 
		<div id="feed" class="col-md-10 col-md-offset-1">
			<ul>
			</ul>
		</div>	
	</div>
</div>
	
<div id="newPostDiv" style="display:block">
	<div class="row">
		<div id="cafeSearchDiv" class="col-md-offset-4">
			<h5>where'd you get your brew?</h5>
	    <input id="pac-input" type="text" class="controls" placeholder="Search for Cafes">
	    <button id="there" class="btn btn-default col-md-offset-3">there.</button>
	    <br>
    </div>
    <div class="postForm" style="display:none">
			<%= render 'form' %>
		</div>	
	</div>
</div>


<script>
	function initialize() {
		var input = document.getElementById('pac-input');
		$.get("/posts/location", function(data){
      var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(data["swlat"], data["swlng"]),
          new google.maps.LatLng(data["nelat"], data["nelng"]));
			var options = {bounds: defaultBounds, types: ['establishment']};
					
		new google.maps.places.Autocomplete(input, options);
		})
	}
				
	google.maps.event.addDomListener(window, 'load', initialize);
		// getLocation();

	$.get("/posts", function(data){
		console.log(data)
		// _.each(data, function(post){
		// 	$("ul").append("<li>"+ post.title + " " + post.user.name + "</li>")
		// })
	})
	// $("a#newPost").click(function(event){
	// 	event.preventDefault()
	// 	$("div#homeDiv").toggle()
	// 	$("div#newPostDiv").toggle()
	// })
	$("a#logout").click(function(event){
		event.preventDefault()
		console.log(event)
		$.ajax({url: "/session", type: "DELETE"})
	})

	$("button#there").click(function(){
      var name_and_address = $("input#pac-input").val()
    $.post("/coffee_bars", {name_and_address: name_and_address}
      ).done(function(data){
        console.log(data.id)
        $("input#post_coffee_bar_id").val(data.id)
      })
      $("div.postForm").toggle()
      $("div#cafeSearchDiv").toggle("slow")
    })
</script>
