<!DOCTYPE html>
<html>
<head>
  <title>Expresso</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  
</head>
<body>
	<div class="container">

<%= yield %>

<!-- 		<footer>
			<div class='col-md-4 col-md-offset-4' id='footer'>
			<p>created by <a href="www.trish-laws.com">trishfromtisch</a>.</p>
			</div>
		</footer> -->
	</div>

</body>
</html>